@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* overflow-x: hidden; */
}

/* .header{
    position:fixed;
} */

.page-preview {
    border-radius: 0;
    height: 100%;
}

.page-preview-header {
    background: #f2f2f2;
    border: none;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

.hideScreen {
    display: none;
}

.icons a img {
    padding: 0 10px;
}

.icons>a {
    display: inline-block;
    margin-top: 15px;
    padding: 4px;
}

.icons>a:hover {
    background: #e2f0fc;
    text-decoration: none;
}

.icons>a.active {
    background: #c9e4f9;
}

.start img {
    margin-left: 10px;
}

a.close {
    margin: 15px 10px 15px 120px;
    padding: 10px;
}

.hidden {
    display: none;
}

.header {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 5vw;
}

.menu {
    display: none;
}

.list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.list ul {
    display: flex;
    list-style-type: none;
}

.list ul li {
    padding: 0 20px;
}

.list ul li a,
.frm a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.hero {
    background-color: #fbc950;

    /* animation-name: example;
  animation-duration: 2s; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 60vh;
}

.main {
    width: 50vw;
    transition: 1s;
}

.content {
    align-self: center;
    width: 50vw;
    transition: 1s;
    

}

.main img {
    max-height: 60vh;
    transition: 1s;
    
    /* height: 100%;
    width: 100%; */
    /* object-fit: cover; */

}

.consult {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 3;
    font-weight: 400;
}

.scs {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.3rem;
    line-height: 1.1;
    font-weight: 700;
}

.frm {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 5;
    font-weight: 400;
}

.hero-btn {
    padding: 20px 50px;
    border-radius: 35px;
    font-size: 1rem;
    color: white;
    background-color: rgb(48, 43, 43);
}
.hero-btn:hover{
    padding: 20px 50px;
    border-radius: 35px;
    font-size: 1rem;
    border: 2px solid white;
    color: rgb(48, 43, 43);
    background-color: white;
}

.container .service {
    padding: 3vh 0;
}
/* .service {
    padding: 0px;
    
} */

.help {
    text-align: center;
}

.italic-p {
    font-style: italic;
    width: 80vw;
    margin: 0 auto;
}

.container h1 {
    font-size: 3rem;
    line-height: 2;
    transition: 1s;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
    width: 84vw;
}

.card {
    width: 42vw;
    /* height: 35vh; */
}

.card a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-style: italic;
}

.card-u a {
    color: white;
}

.card h1 {
    font-size: 2rem;
}

.card:nth-of-type(1) {
    background: url('./images/fgfg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;


}

.card:nth-of-type(2) {
    background-color: #F1BB13;
    order: 2;
    padding: 30px;

}

.card:nth-of-type(3) {
    background: url('./images/yu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    order: 4;

}

.card:nth-of-type(4) {
    background-color: #34365A;
    order: 3;
    color: white;
    padding: 30px;

}

.card:nth-of-type(5) {
    background: url('./images/89.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    order: 5;

}

.card:nth-of-type(6) {
    background-color: #F1BB13;
    order: 6;
    padding: 30px;

}

.card-u .learn-btn {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
}

.learn-btn {
    padding: 20px 50px;
    border-radius: 35px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 3px solid black;
}

/* Working Section */
.container .working{
    padding: 5vh 0;
    color: white;
    background-color: #34365A;
}
.help p{
    width: 50vw;
    margin: 0 auto;
    font-size: 1.3rem;
}
.two-btn{
    padding: 40px 0;
    text-align: center;
}
.btn-one{
    padding: 20px 70px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        background-color:#34365A;
        margin: 0 10px;
}
.btn-two{
    padding: 20px 70px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        font-weight: 700;
        color: #34365A;
        background-color: white;
        margin: 0 10px;
}
.btn-one:hover{
    padding: 20px 70px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        font-weight: 700;
        color: #34365A;
        background-color: white;
        margin: 0 10px;
}
.btn-two:hover{
    padding: 20px 70px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        background-color:#34365A;
        margin: 0 10px;
}
/* client section */
.container .client{
    padding: 5vh 0;
    color: black;
    background-color: #34365A;
    height: 60vh;
    display: flex;
    justify-content: center;
    /* position: relative; */

}
 .blank{
    height: 40vh;
}
/* .client-img,
.client-content {
  position: absolute;
} */
.client-img{
    /* padding: 5%; */
    /* top: 10vh;
    left: 10vw; */
}
.client-img img{
    width: 850px;
}
.client-content{
    padding: 40px 30px;
    background-color: white;
    height: 510px;
    width: 510px;
    margin-left: -210px;
    margin-top: 170px;
    /* top: 15vh;
    left: 45vw; */
}
.client-text{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(76, 76, 76);
}
.scsc{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.3rem;
    line-height: 1.1;
    font-weight: 700;
}
.client-btn{
    padding: 20px 40px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 600;
        color: white;
        background-color:#34365A;
        margin: 0 10px;
}
.client-btn:hover{
    padding: 20px 40px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 600;
        color: #34365A;
        background-color:#F1C51E;
        margin: 0 10px;
}
.items{
    display: flex;
    justify-content: center;
}
.item{
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 400px;
}

.circle{
    height: 120px;
    width: 120px;
    background-color: #F3C536;
    border-radius: 50%;
    margin-left: 30px;
    /* position: relative; */
}
.item img{
    position: absolute;
    margin-top: 60px;
    margin-left: -30px;
    width: 100px;
}
.item h3{
    margin-top: 65px;
    font-weight: 600;
    font-size: 1.4rem;
}
.item p{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}
/* about us  section */
.about-us{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.round-div{
    padding: 40px 30px;
    margin-bottom: 40px;
    width: 500px;
    background-color: #F3C536;
    border-radius: 0 0 60px 60px;
    
}
.about-content, .about-img{
    width: 38vw;

}
.about-content{
    margin-right: 30px;
}
.about-img{
    padding: 40px 30px;
    
}
.about-img img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.about-img-content{
    display: flex;
    margin-top: 40px;

}
.about-icon{
    background-color: #34365A;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.about-icon img{
    width: 35px;
    height: 35px;
    border-radius: 0;
}
.about-caption{
    width: 440px;
}

.about-caption h3{
    margin-bottom: 20px;
}
/* coaching section */

.coaching {
    background-color: #FEC401;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 65vh;
    margin: 80px 0;

}

.coaching-main {
    width: 50vw;
    transition: 1s;
    overflow: hidden;
}

.coaching-content {
    padding-left: 10vw;
    align-self: center;
    width: 50vw;
    transition: 1s;
    /* margin-left: 200px; */
    

}

.coaching-main img {
    max-height: 65vh;
    transition: 1s;
    
    /* height: 100%;
    width: 100%; */
    /* object-fit: cover; */

}
.coaching-text{
    font-size: 1.2rem;
    line-height: 1.5;
    padding-top: 20px;
}
/* solution section */
.container .solution{
    padding: 80px 0;

}
.sol-sec-1{
    display: flex;
    justify-content: center;
}

.solution-img,.solution-content{
    width: 40vw;
}
.solution-img{
    width: 570px;
    height: 510px;
}
.solution-img img{
    width: 570px;
    height: 510px;
    object-fit: cover;
}
 .solution-content{
    padding: 40px 30px;
    background-color: #34365A;
    height: 420px;
    width: 570px;
    color: white;  
 }
.solution-text{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}
.s-solution{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    line-height: 1.1;
    font-weight: 700;
}
.solution-btn{
    padding: 20px 40px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 600;
        color: white;
        background-color:#34365A;
        margin: 0 10px;
}
.solution-btn:hover{
    padding: 20px 40px;
        border-radius: 35px;
        border: 2px solid white;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 600;
        color: #34365A;
        background-color:#ffffff;
        margin: 0 10px;
}
.frm-s {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 5;
    font-weight: 400;
}
.frm-s a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.sol-sec-2{
    display: flex;
    justify-content: center;
}
.solution-img-2 img{
    object-fit: cover;
    width: 250px;
    height: 300px;
}
.solution-img-2{
    width: 250px;
    height: 300px;
}

.solution-content-2{
    width: 320px;
    height: 300px;
    padding: 40px 30px;
    background-color: #FEC401;
    color: black;  
 }
 .solution-landscape-2 img{
    object-fit: cover;
    width: 570px;
    height: 390px;
}
 .solution-landscape-2{
    margin-top: -90px;
    width: 570px;
    height: 390px;
    object-fit: cover;
 }
.solution-text-2{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: black;
}
.s-solution-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 700;
}
/* Team section */
.container .team{
    overflow: hidden;
    /* padding: 80px 0; */
}
.team-img{
    width: 100vw;
    background-color: #34365A;
    
}
.team-img img{
    width: 100vw;
    object-fit: cover;
    height: 80vh;
    
}
.team-content{
    background-color: #34365A;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 430px;
}
.team-content-box{
    margin-top: -120px;
    background-color: white;
    padding: 30px 60px;
    width: 700px;
    height: 430px;
}
.team-text{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}
.s-team{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 700;
}
/* Acheivement section */
.container .acheivement{
    background-color: #34365A;
    
}
.s-acheivement{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
}
.acheive-box{
    display: flex;
    justify-content: space-around;
}
.acheive-box div{
    width: 230px;
    height: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acheive-p{
    font-weight: 800;
    letter-spacing: 2px;
    color: #5a5a5a;
}
.acheive-h{
    font-weight: 900;
    font-size: 72px;
    letter-spacing: 2px;
    color: #F1BB13;
    margin: 20px 60px 0px 60px;
}
































@media (max-width: 1440px) {

    .main img {
        margin-left: -90px;
    }
    
}



@media (max-width: 1240px) {
    .main img {
        margin-left: -100px;
    }
}


@media (max-width: 1140px) {
    .content {
        width: 40vw;
    }

    .main {
        width: 60vw;
    }
    .main img {
        margin-left: -80px;
        
        
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 2;
        font-weight: 400;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 5;
        font-weight: 400;
    }
    
}
@media (max-width: 1024px) {

    .icons>a.desktop,
    .icons>a.laptop {
        display: none;
    }

    .shadow {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #000000b4;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
        position: absolute;
    }

    

    .menu {
        display: block;
        cursor: pointer;
    }

    .closeNav {
        text-align: right;
        padding: 20px;
    }


    .nav-links ul li {
        display: block;
        margin: 10px 0px;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #000000;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100vh;
        margin-right: 0px;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .list {
        display: none;
    }

    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow: hidden;
    }

    .main img {
        max-height:70vw;
        /* margin-left: -100px; */
        /* object-fit: cover; */
        
    }

    .main {
        width: 100vw;
        /* overflow: hidden; */
        

    }

    .content {
        /* align-self: center; */
        width: 80vw;
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        line-height: 3;
        font-weight: 400;
        margin-top: 20px;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 5;
        font-weight: 400;
    }
    .card-section {
        display: block;
        background-color: aqua;
        margin: 20px auto;
        width: 100%;
    }

    .card {
        width: 100%;
        

    }

    .service h1 {
        font-size: 2.4rem;
        line-height: 1.8;
        transition: 1s;
    }
    
.service {
    padding: 0px;
    
}

.help {
    text-align: center;
}

.help p {
    font-style: italic;
    font-size: 0.8rem;
    width: 80vw;
    margin: 0 auto;
}

.card a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-style: italic;
}

.card-u a {
    color: white;
}

.card h1 {
    font-size: 2rem;
    margin: 0;
}


.card-u .learn-btn {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
}

.learn-btn {
    padding: 15px 35px;
    border-radius: 35px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 3px solid black;
}

.card:nth-of-type(1) {
    background: url('./images/fgfg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    order: 1;
    height: 30vh;

}

.card:nth-of-type(2) {
    background-color: #F1BB13;
    order: 2;
    padding: 30px;
    height: auto;
}

.card:nth-of-type(3) {
    background: url('./images/yu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    order: 4;
    height: 30vh;
}

.card:nth-of-type(4) {
    background-color: #34365A;
    order: 3;
    color: white;
    padding: 30px;
    height: auto;
}

.card:nth-of-type(5) {
    background: url('./images/89.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    order: 5;
    height: 30vh;

}

.card:nth-of-type(6) {
    background-color: #F1BB13;
    order: 6;
    padding: 30px;
    height: auto;
}

}


@media (max-width: 800px) {
    .icons>a.tablet {
        display: none;
    }
/*  */
}

@media (max-width: 660px) {

    .icons>a.desktop,
    .icons>a.laptop,
    .icons>a.tablet,
    .icons>a.landscape,
    .icons>a.mobile {
        display: none;
    }

    .shadow {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #000000b4;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
        position: absolute;
    }

    .overFl {
        overflow: hidden;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .closeNav {
        text-align: right;
        padding: 20px;
    }


    .nav-links ul li {
        display: block;
        margin: 10px 0px;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #000000;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100vh;
        margin-right: 0px;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .list {
        display: none;
    }

    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 85vh;
    }

    .main img {
        max-height: 45vh;
        margin-left: -70px;
        /* width: 100%; */
        object-fit: cover;
    }

    .main {
        width: 100vw;
        overflow: hidden;

    }

    .content {
        /* align-self: center; */
        width: 80vw;
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 3;
        font-weight: 400;
        margin-top: 20px;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 5;
        font-weight: 400;
    }

    .card-section {
        display: block;
        background-color: aqua;
        margin: 20px auto;
        width: 100%;
    }

    .card {
        width: 100%;
        height: 40vh;

    }

    .service h1 {
        font-size: 2.4rem;
        line-height: 1.8;
        transition: 1s;
    }

}

@media (max-width: 470px) {

    .icons>a.desktop,
    .icons>a.laptop,
    .icons>a.tablet,
    .icons>a.landscape,
    .icons>a.mobile {
        display: none;
    }

    .shadow {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #000000b4;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
        position: absolute;
    }

    .overFl {
        overflow: hidden;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .closeNav {
        text-align: right;
        padding: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: 0 2vw;
    }

    .nav-links ul li {
        display: block;
        margin: 10px 0px;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #000000;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100vh;
        margin-right: 0px;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .list {
        display: none;
    }

    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }

    .main img {
        max-height: 35vh;
        margin-left: -50px;
        /* width: 100%; */
        object-fit: cover;
    }

    .main {
        width: 100vw;
        overflow: hidden;

    }

    .content {
        /* align-self: center; */
        width: 90vw;
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 2;
        font-weight: 400;
        margin-top: 20px;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        line-height: 1.4;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 3;
        font-weight: 400;
    }

    .service h1 {
        font-size: 2rem;
        line-height: 1.9;
        transition: 1s;
    }
    .learn-btn {
        padding: 20px 40px;
        border-radius: 35px;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: 3px solid black;
    }
    .card {
        width: 100%;
        height: 45vh;

    }
}

@media (max-width: 400px) {
    .card {
        width: 100%;
        height: 45vh;

    }
    .learn-btn {
        padding: 10px 25px;
        border-radius: 35px;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: 3px solid black;
    }
}

@media (max-width: 375px) {

    .icons>a.desktop,
    .icons>a.laptop,
    .icons>a.tablet,
    .icons>a.landscape,
    .icons>a.mobile {
        display: none;
    }

    .shadow {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #000000b4;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
        position: absolute;
    }

    .overFl {
        overflow: hidden;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .closeNav {
        text-align: right;
        padding: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: 0 1vw;
    }

    .nav-links ul li {
        display: block;
        margin: 10px 0px;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #000000;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100vh;
        margin-right: 0px;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .list {
        display: none;
    }

    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .main img {
        max-height: 300px;
        margin-left: -30px;
        /* width: 100%; */
        /* object-fit: cover; */
    }

    .main {
        width: 100vw;
        overflow: hidden;

    }

    .content {
        /* align-self: center; */
        width: 90vw;
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        line-height: 2;
        font-weight: 400;
        margin-top: 20px;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 3;
        font-weight: 400;
    }
    .hero-btn {
        padding: 10px 40px;
        border-radius: 35px;
        font-size: .8rem;
        color: white;
        background-color: rgb(48, 43, 43);
    }
    .learn-btn {
        padding: 10px 25px;
        border-radius: 35px;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: 3px solid black;
    }

    .service h1 {
        font-size: 1.5rem;
        line-height: 1.9;
        transition: 1s;
    }
}
@media (max-width: 320px) {
    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .main img {
        max-height: 25vh;
        margin-left: -30px;
        /* width: 100%; */
        /* object-fit: cover; */
    }

    .main {
        width: 100vw;
        overflow: hidden;

    }
}
.laptopScreen {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;

    .main img {
        margin-left: -50px;

    }

    .icons>a.active {
        background: #c9e4f9;
    }
}

.tabletScreen {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow-x: hidden;


    .icons>a.active {
        background: #c9e4f9;
    }

    .shadow {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #000000b4;
        transition: .5s;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
        position: absolute;
    }

    .overFl {
        overflow: hidden;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .closeNav {
        text-align: right;
        padding: 20px;
    }


    .nav-links ul li {
        display: block;
        margin: 10px 0px;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #000000;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100vh;
        margin-right: 0px;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .list {
        display: none;
    }

    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 105vh;
    }

    .main img {
        max-height: 70vh;
        /* width: 100%; */
        object-fit: cover;
        margin-left: -60px;
    }

    .main {
        width: 100vw;
        overflow: hidden;

    }

    .content {
        /* align-self: center; */
        width: 80vw;
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 3;
        font-weight: 400;
        margin-top: 20px;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 5;
        font-weight: 400;
    }
    .card-section {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(0, 0, 0);
        margin: 20px auto;
        width: 80%;
    }

    .card {
        width: 80%;
        height: 35vh;

    }
}

.landscapeScreen {
    position: relative;
    width: 660px;
    margin: 0 auto;
    overflow-x: hidden;

    .shadow {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #000000b4;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
        position: absolute;
    }

    .overFl {
        overflow: hidden;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .closeNav {
        text-align: right;
        padding: 20px;
    }


    .nav-links ul li {
        display: block;
        margin: 10px 0px;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #000000;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100vh;
        margin-right: 0px;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .list {
        display: none;
    }

    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 85vh;
    }

    .main img {
        max-height: 48vh;
        margin-left: -70px;
        /* width: 100%; */
        object-fit: cover;
    }

    .main {
        width: 100vw;
        overflow: hidden;

    }

    .content {
        /* align-self: center; */
        width: 80vw;
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 3;
        font-weight: 400;
        margin-top: 20px;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 5;
        font-weight: 400;
    }
    .card-section {
        display: block;
        background-color: black;
        margin: 20px auto;
        width: 100%;
    }

    .card {
        width: 100%;
        height: 32vh;

    }
}

.mobileScreen {
    position: relative;
    width: 460px;
    margin: 0 auto;
    overflow-x: hidden;

    .shadow {
        position: absolute;
        width: 100vh;
        height: 100vh;
        background-color: #000000b4;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25vh;
        position: absolute;
    }

    .overFl {
        overflow: hidden;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .closeNav {
        text-align: right;
        padding: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: 0 1vw;
    }

    .nav-links ul li {
        display: block;
        margin: 10px 0px;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #000000;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100vh;
        margin-right: 0px;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .list {
        display: none;
    }

    .hero {
        background-color: #fbc950;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 65vh;
    }

    .main img {
        max-height: 35vh;
        margin-left: -30px;
        /* width: 100%; */
        object-fit: cover;
    }

    .main {
        width: 100vw;
        overflow: hidden;

    }

    .content {
        /* align-self: center; */
        width: 90vw;
    }

    .consult {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 2;
        font-weight: 400;
        margin-top: 20px;
    }

    .scs {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
        line-height: 1.4;
        font-weight: 700;
    }

    .frm {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        line-height: 3;
        font-weight: 400;
    }
    .service h1{
        font-size: 2rem;
        line-height: 2;
        transition: 1s;
    }
    .card-section {
        display: block;
        background-color: aqua;
        margin: 20px auto;
        width: 100%;
    }

    .card {
        width: 100%;
        height: 35vh;

    }
}